### Scholarships and Awards

- 2020 NSERC CGS-D for Nathan Lawrence
- 2019 Four Year Fellowship for Lee Rippon
- 2018 Four Year Fellowship for Yiting Tsai
- 2017 Killam Doctoral Scholarship for Lee Rippon
- 2016 Graduate Entrance Scholarship for Yiting Lee
- 2016 Graduate Entrance Scholarship for Lee Rippon
- 2015 Vanier Scholarship for Qiugang Lu
- 2015 NSERC PGS-M for Lee Rippon
- 2015 GSI Major Award for Lee Rippon
- 2014 John Grace Scholarship for Yiting Tsai
- 2013 Four Year Fellowship for Qiugang Liu
- 2011 Industrial Postgraduate Scholarship for Ken McClure
- 2011 Four Year Fellowship for Melissa Barazendegan
- 2010 Four Year Fellowship for Fatame Ekram
- 2009 NSERC post graduate scholarship for Devin Marshman
- 2009 Four Year Fellowship for Shelly Jang (declined)
- 2009 Four Year Fellowship for Adriana Cajiao
- 2008 Graduate Entrance Scholarship for Devin Marshman
- 2008 MITACS/NORPAC Scholarship for Devin Marshman
- 2008 NSERC graduate Scholarship for Devin Marshman
- 2007 Graduate Entrance Scholarship for Shelly Jang