<p>
  <b>{{ site.name }}</b><br>
</p>

<p>
  <i>{{ site.jobtitle }}</i><br> <a target="_blank" href="{{ site.depturl }}"> {{ site.department }}</a><br>
  {{ site.university }}
</p>

<p>
  <i>{{ site.secondjobtitle }}</i><br> <a target="_blank" href="{{ site.facultyurl }}"> {{ site.faculty }}</a><br>
  {{ site.university }}
</p>

<p> 
  <b> Faculty Profile: </b>
  <a target="_blank" href="{{ site.facultyprofile }}"> {{ site.name }} </a>
</p>
<p>
  <b>Phone: </b>{{ site.phone }}
</p>
<p>
  <b>Email: </b>{{ site.email }}
</p>
<p>
  <b>Office: </b>{{ site.office }}
</p>
<p>
  <b>Address: </b>
  <br>
  {{ site. address }}
  <br>
  {{ site. city }}, {{ site. region }} {{ site. postalcode }}
</p>