<p class="title is-4">Industries</p>
<p class="subtitle is-5">We apply these algorithms and tools for solving real-world problems in many different fields.</p>

<div class="columns is-multiline is-mobile is-tablet">
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-3by2">
              <img src="{{ site.baseurl }}/assets/img/undraw_medicine_b1ol.png" alt="bioengineering process control machine learning data analytics" title="Data Analytics for Bioengineering and Medical Biology">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <a href="#medicalbiology" class="card-footer-item">
              Medical Biology
            </a>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-3by2">
              <img src="{{ site.baseurl }}/assets/img/undraw_in_progress_ql66.png" alt="parkland teck spartan controls refining honeywell optimization" title="Predictive Analytics and Machine Learning for Manufacturing">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <a href="#manufacturing" class="card-footer-item">
              Manufacturing
            </a>
        </footer>
    </div>
  </div>  
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-3by2">
              <img src="{{ site.baseurl }}/assets/img/undraw_environment_iaus.png" alt="mining teck biomass analytics machine learning" title="Applied Advanced Analytics and Machine Learning Research in Natural Resources">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <a href="#naturalresources" class="card-footer-item">
              Natural Resources
            </a>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-3by2">
              <img src="{{ site.baseurl }}/assets/img/undraw_wind_turbine_x2k4.png" alt="oil gas machine learning renewables wind solar" title="Data Analytics for Energy">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <a href="#energy" class="card-footer-item">
              Energy
            </a>
        </footer>
    </div>
  </div>
</div>

<div class="content">
  <p>The competitive global environment, and the ever increasing demands on energy, environment and quality are subjecting process industries to a high level of economic pressure. However, the process industries are in possession of treasure troves of heterogenous data that are gravely under utilized. These incredible volumes of data that industries already possess are poised to provide a level of insight and information never realized before and thus alleviate the economic and competitive pressures.</p>

  <p>We often collaborate with industry partners and other academic researchers for problem-solving in specific domains. Our current and past projects include collaborations with:</p>
  <h5 id="medicalbiology">Medical Biology</h5>
  <ul>
    <li>Pharmaceuticals (Amgen)</li>
    <li>Healthcare</li>
    <li>Bioengineering (<a target="_blank" href="https://www.msl.ubc.ca/people/dr-james-piret/">Piret Group</a>)</li>
  </ul>

  <h5 id="manufacturing">Manufacturing</h5>
    <ul>
    <li>Refining (Parkland)</li>
    <li>Pulp and Paper (Canfor, Spartan Controls)</li>
    <li>Process Control and Optimization (Honeywell, <a target="_blank" href="https://www.math.ubc.ca/~loew/">Loewen Group</a>)</li>
  </ul>

  <h5 id="naturalresources">Natural Resources</h5>
  <ul>
    <li>Mining (BBA, Teck, <a target="_blank" href="https://www.chbe.ubc.ca/profile/susan-baldwin/">Baldwin Group</a>)</li>
    <li>Biomass (<a target="_blank" href="https://biomass.ubc.ca/">Sokhansanj Group</a>)</li>
  </ul>

  <h5 id="energy">Energy</h5>
  <ul>
    <li>Oil and Gas</li>
    <li>Power (BCHydro)</li>
    <li>Electrochemical Systems (<a target="_blank" href="https://www.math.ubc.ca/~wetton/">Wetton Group</a>, <a target="_blank" href="https://optimal.chbe.ubc.ca/">Cao Group</a>)</li>
    <li>Renewables</li>
  </ul>

</div>  