<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <b class="has-text-darkblue"><i class="fas fa-cubes"></i> DAIS LAB</b>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true" data-target="navBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ site.baseurl }}/">
        <b>Home</b>
      </a>

      <a class="navbar-item" href="{{ site.baseurl }}/about/">
        About
      </a>

      <a class="navbar-item" href="{{ site.baseurl }}/people/">
        People
      </a>

      <a class="navbar-item" href="{{ site.baseurl }}/publications/">
        Publications
      </a>

      <a class="navbar-item" href="{{ site.baseurl }}/news/">
        News
      </a>        

      <a class="navbar-item" href="{{ site.baseurl }}/teaching/">
        Teaching
      </a>

      <a class="navbar-item" href="{{ site.baseurl }}/resources/">
        Resources
      </a>        

    </div>
  </div>
</nav>