<ol reversed class="publist list-nomargin" type="1" style="list-style-position: inside;">
	{% assign y_end = site.time | date: '%Y' %}
	{% assign y_start = 2002 %}

	{% for y in (y_start..y_end) reversed %}
	{% if include.papertype %}
		{% assign filteredpapers = site.papers | where:"type", include.papertype %}
	{% else %}
		{% assign filteredpapers = site.papers %}
	{% endif %}

	{% assign pubs = filteredpapers | where:"year", y | sort: "order" | reverse %}
	{% if pubs.size > 0 %}
		<div class="pub-year" id="{{y}}">
			<p class="is-sans-serif no-deco">
				<strong class="is-5 is-spaced has-text-light">{{y}}</strong>
				{% unless forloop.last %}
					| <a href="#{{y | minus: 1}}" class="has-text-info-light is-italic has-text-weight-light"><i class="fas fa-angle-double-right"></i> Jump to {{y | minus: 1}}</a>
				{% endunless %}
				 | <a href="#" class="has-text-info-light is-italic has-text-weight-light"><i class="fas fa-angle-double-up"></i> Scroll up</a>
			</p>
		</div>
	{% endif %}
	{% for pub in pubs %}
		{% include single_pub.html pub=pub %}
	{% endfor %}
	{% endfor %}
</ol>