<p class="title is-spaced"><b class="has-text-darkblue">UBC DAIS Lab</b> Research</p>
<p class="subtitle is-5">We develop <b>novel algorithms</b> and <b>computational tools</b> to bring a new level of automation to the process industry.</p>

<section>
  <div class="columns is-multiline">
    <div class="column is-one-fifth is-full-tablet">
      <figure class="image is-pulled-right is-128x128">
        <a href="{{ site.baseurl }}/about/"><img alt="bhushan gopaluni process control data analytics dais ubc" title="Bhushan Gopaluni" class="is-rounded" style="height: 100%; object-fit: cover;" src="{{ site.baseurl }}/assets/profile/bhushan.jpg"></a>
      </figure>
    </div> 
    <div class="column">   
      <div class="content">
        <blockquote><p><b>Dr. Bhushan Gopaluni</b> leads research activities at the UBC DAIS Lab. He is a Professor in the Department of Chemical and Biological Engineering and Associate Dean, Education and Professional Development in the Faculty of Applied Science at the University of British Columbia (UBC). <a href="{{ site.baseurl }}/about/">Read More.</a></p></blockquote>
      </div>
    </div>
  </div>
</section>

<hr>

<p class="title is-4">Research Themes</p>
<p class="subtitle is-5">Our research lies at the intersection of industrial process control, data analytics and machine learning.</p>

<div class="columns is-multiline is-mobile is-tablet">
  <div class="column is-half-tablet is-one-quarter-desktop is-half-mobile">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="modeling batch processes data analytics kai wang" title="Batch Processes" src="{{ site.baseurl }}/assets/img/timeslice.png">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-link is-light">
                Wang et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Data Analytics<sup>1</sup>
            </p>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="machine direction adaptive control on a paper machine lee rippon" title="Machine Direction Adaptive Control" src="{{ site.baseurl }}/assets/img/control.png">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-link is-light">
                Rippon et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Process Control<sup>2</sup>
            </p>
        </footer>
    </div>
  </div>  
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="deep reinforcement learning process control steven spielberg kumar" title="Deep Reinforcement Learning" src="{{ site.baseurl }}/assets/img/rl2.png">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-link is-light">
                Spielberg et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Machine Learning<sup>3</sup>
            </p>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-mobile is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img alt="deadband alarm design nonlinear process aditya tulsyan" title="Univariate Model-based Deadband Alarm Design for Nonlinear Processes" src="{{ site.baseurl }}/assets/img/alarm.png">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-link is-light">
                Tulsyan et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Alarm Analytics<sup>4</sup>
            </p>
        </footer>
    </div>
  </div>
</div>

<div class="content">
<p>We are at a unique historical moment with conditions ripe for a new industrial revolution that is going to take us to a level of automation that had never been seen before. This revolution is driven by a serendipitous confluence of ubiquitous cyber-physical systems or internet of things, gargantuan computing power, inexpensive memory and major algorithmic developments in machine learning and artificial intelligence. It is happening all around us in the form of self-driving cars to human-like robots.</p>  
<ul>
  <li>[1] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J5_Wang_IECR.pdf">Wang et al. (2019).</a> Data-Driven Dynamic Modeling and Online Monitoring for Multiphase and Multimode Batch Processes with Uneven Batch Durations.</li>
  <li>[2] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J6_Rippon_IECR.pdf">Rippon et al. (2019).</a> Machine Direction Adaptive Control on a Paper Machine.</li>
  <li>[3] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J9_Spielberg_AIChE.pdf">Spielberg et al. (2019).</a> Toward Self‐driving Processes: A Deep Reinforcement Learning Approach to Control.</li>
  <li>[4] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J7_Tulsyan_IECR.pdf">Tulsyan et al. (2019).</a> Univariate Model-based Deadband Alarm Design for Nonlinear Processes.</li>
</ul>
</div>