<p class="title is-4"><b class="has-text-darkblue">DAIS Lab</b> Research</p>
<p class="subtitle is-5">We are interested in developing <b>novel algorithms</b> and <b>computational tools</b> to bring a new level of automation to the process industry.</p>

<div class="content">
  <p>We are at a unique historical moment with conditions ripe for a new industrial revolution that is going to take us to a level of automation that had never been seen before. This revolution is driven by a serendipitous confluence of ubiquitous cyber-physical systems or internet of things, gargantuan computing power, inexpensive memory and major algorithmic developments in machine learning and artificial intelligence. It is happening all around us in the form of self-driving cars to human-like robots.</p>

  <p>The competitive global environment, and the ever increasing demands on energy, environment and quality are subjecting process industries to a high level of economic pressure. However, the process industries are in possession of treasure troves of heterogenous data that are gravely under utilized. These incredible volumes of data that industries already possess are poised to provide a level of insight and information never realized before and thus alleviate the economic and competitive pressures.</p>
</div>

<hr>

<p class="title is-4">Research Tools</p>
<p class="subtitle is-5">The computational tools and algorithms that we develop involve a combination of:</p>

<div class="columns is-multiline">
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="{{ site.baseurl }}/assets/img/timeslice.png" alt="">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
                Wang et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Data Analytics<sup>1</sup>
            </p>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="{{ site.baseurl }}/assets/img/control.png" alt="">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
                Rippon et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Process Control<sup>2</sup>
            </p>
        </footer>
    </div>
  </div>  
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="{{ site.baseurl }}/assets/img/rl2.png" alt="">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
                Spielberg et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Machine Learning<sup>3</sup>
            </p>
        </footer>
    </div>
  </div>
  <div class="column is-one-quarter-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="{{ site.baseurl }}/assets/img/alarm.png" alt="">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info is-light">
                Tulsyan et al. (2019)
              </span>       
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              Alarm Analytics<sup>4</sup>
            </p>
        </footer>
    </div>
  </div>
</div>

<div class="content">
<ul>
  <li>[1] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J5_Wang_IECR.pdf">Wang et al. (2019).</a> Data-Driven Dynamic Modeling and Online Monitoring for Multiphase and Multimode Batch Processes with Uneven Batch Durations.</li>
  <li>[2] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J6_Rippon_IECR.pdf">Rippon et al. (2019).</a> Machine Direction Adaptive Control on a Paper Machine.</li>
  <li>[3] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J9_Spielberg_AIChE.pdf">Spielberg et al. (2019).</a> Toward Self‐driving Processes: A Deep Reinforcement Learning Approach to Control.</li>
  <li>[4] <a target="_blank" href="{{ site.baseurl }}/assets/preprints/2019J7_Tulsyan_IECR.pdf">Tulsyan et al. (2019).</a> Univariate Model-based Deadband Alarm Design for Nonlinear Processes.</li>
</ul>
</div>