{% assign highlights = site.data.highlights | where:"display", "True" | sort: 'date' | reverse %}

<p class="title is-5">
  <span class="has-text-darkblue"><i class="fas fa-cubes"></i> {{ site.unishortname}} {{ site.labshortname }}</span>
</p>

<article class="message is-small is-light">
  <div class="message-header">
    <p><i class="fas fa-users"></i> Recruitment</p>
  </div>
  <div class="message-body">
    {% include recruitment.html %}
  </div>
</article>                            


{% for highlight in highlights %}
<article class="message is-small is-warning">
  <div class="message-header">
    <b><i class="fas fa-bullhorn"></i> Highlights - {{ highlight.date | date_to_long_string}}</b>
  </div>    
  <div class="message-body">
    {{ highlight.message }} <br>
    <strong><a href="{{ highlight.url }}">LINK</a></strong>
  </div>
</article>
{% endfor %}

<article class="message is-small is-light">
  <div class="message-header">
    <p><i class="fas fa-newspaper"></i> News</p>
  </div>    
  <div class="message-body">
    {% assign articles = site.news | sort: 'date' | reverse %}
    {% for news in articles limit: 5 %}
    <p class="sidebar-news-date">
      <small>{{ news.date | date_to_long_string}}</small><br>
      <i class="fas fa-arrow-right"></i> {% if news.url %}
      <a href="{{ news.url}}"><b>{{ news.title }}</b></a><br>
      {% else %}
      <b>{{ news.title }}</b><br>
      {% endif %}
    </p>
    {% endfor %}
    <br>
    <p class="small is-7"><a href="{{ site.baseurl }}/news/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>See more</a></p>
  </div>
</article>

<article class="message is-small is-dark">
  <div class="message-header">
    <p><i class="fas fa-envelope"></i> Contact</p>
  </div>
  <div class="message-body">
    {% include contact.html %}
  </div>
</article>                            
