<li class="box box-left-border list-item">

<span class="pub-type">
  {% if pub.type == "paper" %}
    <i>Journal Paper</i>
  {% elsif pub.type == "conference" %}
    <i>Conference Proceedings</i>
  {% elsif pub.type == "patent" %}
    <i>Patent</i>           
  {% endif %}
</span>

{% if pub.notes %}
<span class="tag is-info is-light">{{ pub.notes }}</span>
{% endif %}   
<br>

<b class="large pub-title">
  {% if pub.url %}
    <a target="_blank" href="{{ pub.url }}" target="_blank">
      {{ pub.title }}
    </a>
  {% else %}
    {{ pub.title }}
  {% endif %}
</b>
<br>
<span class="pub-authors"> {{ pub.authors }} </span>
<br>

<span class="pub-journal">
  <i>
    {% if pub.url %}
    <a target="_blank" href="{{ pub.url }}" target="_blank">{{ pub.journal }}.</a>
    {% else %}
      {{ pub.journal }}.
    {% endif %}
  </i>
{% if pub.pagenum %}
  <br>
  pp. {{ pub.pagenum }}.
{% endif %}
{{ pub.year }}
</span>

{% if pub.pdf %}
<a target="_blank" href="{{ site.baseurl }}/assets/preprints/{{ pub.pdf }}"><span class="tag is-info">[PDF]</span></a>
{% endif %} 

{% if pub.slides %}
<a target="_blank" href="{{ site.baseurl }}/assets/preprints/{{ pub.slides }}"><span class="tag is-warning">[Slides]</span></a>
{% endif %}

{% if pub.supplementary %}
<a target="_blank" href="{{ site.baseurl }}/assets/preprints/{{ pub.supplementary }}"><span class="tag is-warning">[Supplementary Info]</span></a>
{% endif %}     

{% if pub.code %}
<a target="_blank" href="{{ pub.code }}"><span class="tag is-success">[Code]</span></a>
{% endif %}

{% if pub.thesis %}
<a target="_blank" href="{{ pub.thesis }}"><span class="tag is-warning">[Thesis]</span></a>
{% endif %}

{% if pub.poster %}
<a target="_blank" href="{{ pub.poster }}"><span class="tag is-warning">[Poster]</span></a>
{% endif %} 

{% if pub.video %}
<a target="_blank" href="{{ pub.video }}"><span class="tag is-primary">[Video]</span></a>
{% endif %}   
    
</li>