{% assign pub_authors = pub.authors | split: ", " %}

<div class="columns mb-5 box box-left-border">
  <div class="column is-one-fifth">
    {% if pub.thumbnail %}
      <figure class="image mb-1">
        <img alt="{{ pub.title }} by {{ pub.authors}}" title="{{ pub.title }} by {{ pub.authors}}" style="object-fit: contain;" src="{{ site.baseurl }}/assets/thumbnails/{{ pub.thumbnail }}">
      </figure>
    {% endif %}
  </div>

  <div class="column">
    <b class="large pub-title">
      <a href="{{ pub.url }}">
        {{ pub.title }}
      </a>
    </b>
    {% if pub.notes %}
      <span class="tag is-info is-light">{{ pub.notes }}</span>
    {% endif %}     
    <br>
    <span class="pub-authors"> 
      {% include pub_authors.html %}
    </span> | 

    <span class="pub-journal">
      <i>
        {% if pub.external_url %}
        <a target="_blank" href="{{ pub.external_url }}">{{ pub.journal }}.</a>
        {% else %}
          {{ pub.journal }}.
        {% endif %}
      </i>
    {% if pub.pagenum %}
      <br>
      pp. {{ pub.pagenum }}.
    {% endif %}
    {{ pub.year }}
    </span>

    {% include pub_links.html pub=pub %}
    
  </div>
</div>