{% assign pubs = site.data.publications %}
{% capture pub_list %}
  {% for pub in pubs %}
  {% if (pub.authors contains page.title) or (pub.authors contains page.pub_name) %}
    {% include single_pub.html pub=pub %}
  {% endif %}
  {% endfor %}
{% endcapture %}

{% assign pub_list_cleaned = pub_list | strip_newlines | strip %}

{% if pub_list_cleaned.size > 1 %}
  <p><b>DAIS Lab Publications</b></p>
  <ol class="publist list-nomargin" style="list-style-position: inside;">
    {{ pub_list }}
  </ol>
{% endif %}

