<div class="tile is-ancestor has-text-centered">
  <div class="tile is-parent is-3">
    <div class="tile is-child">
      <figure class="image is-256x256">
        <img src="{{ site.baseurl }}/assets/img/timeslice.png">
      </figure>
      <p class="subtitle">Data Analytics<sup>1</sup></p>
    </div>
  </div>
  <div class="tile is-parent is-3">
    <div class="tile is-child">
      <figure class="image is-256x256">
        <img src="{{ site.baseurl }}/assets/img/control.png">
      </figure>
      <p class="subtitle">Process Control<sup>2</sup></p>
    </div>
  </div>
  <div class="tile is-parent is-3">
    <div class="tile is-child">
      <figure class="image is-256x256">
        <img src="{{ site.baseurl }}/assets/img/rl2.png">
      </figure>
      <p class="subtitle">Machine Learning<sup>3</sup></p>
    </div>
  </div>
  <div class="tile is-parent is-3">
    <div class="tile is-child">
      <figure class="image is-256x256">
        <img src="{{ site.baseurl }}/assets/img/alarm.png">
      </figure>
      <p class="subtitle">Alarm Analytics<sup>4</sup></p>
    </div>
  </div>                
</div>