---
---
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800;900&display=swap');

$darkerblue: #002145;
$darkblue: #0055B7;
$orangemuted: #DB4D00;
$sans-serif-font: 'Raleway', sans-serif;
$serif-font: 'Libre Baskerville', serif;

$family-primary: $sans-serif-font;
$weight-normal: 500;

@import "bulma-0.9.1/bulma";

.container {
  margin: 10px auto;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.has-text-darkerblue {
  color: $darkerblue !important;
}

.has-text-darkblue {
  color: $darkblue !important;
}

.has-text-orange {
  color: #FF9A00 !important;
}

.has-background-orange {
  background-color: #FF9A00 !important;
}      

.has-text-orangemuted {
  color: $orangemuted !important;
}    

.has-text-blue {
  color: #00A7E1 !important;
}

.sidebar-news-date{
  margin-top: 10px;
}

.content ol{
  margin-top: 0 !important;
}

ol.breadcrumbs-ol {
  margin-bottom: 10px;
  padding-left: 0px;
  margin-left: 0px;
}

#breadcrumbs hr{
  margin-top: 0px;
  margin-bottom: 30px;
}

ol.breadcrumbs-ol li { 
  display: inline;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}

ol.breadcrumbs-ol li a {text-decoration: none;}

.breadcrumb-item:before{content:'/';padding-right:1px;}

.breadcrumb-item:first-child:before{content:''; padding-right: 0px;}

.pub-year {
  p {
    color: #fff;
  }
  background-color: $darkblue !important;
  padding-left: 1em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  margin-bottom: 1em;
}

.publist {
  li {
    display: list-item;
    list-style-type: decimal;
    font-family: $serif-font;
    color: $darkblue !important;    
  }
}

.list-nomargin {
  margin-left: 0em !important;
}

.box-left-border{
  border-left: 0.18em solid $darkblue;
}

.home-news-container {
  margin-bottom: 2em;

  article {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.news-desc{
  padding-left: 0.5em;
}

.news-date{
  color: $darkerblue !important;
  font-family: $sans-serif-font !important;
  font-weight: 500 !important;
  time {
    margin-bottom: 0.5em !important;
  }
}

.title, .news-title, .pub-title {
  font-family: $sans-serif-font;
  margin-top: 0.1em !important;
}

.news-title{
  margin-bottom: 0.2em !important;
}

p {
  font-family: $serif-font;
}

.very-bold{
  font-weight: 800 !important;
}

.news-headline{
  font-size: 2.1em !important;
  font-weight: 800 !important;
  margin-bottom: 0.1em !important;
}

.news-headline-date{
  margin-bottom: 1.5em !important;
  font-weight: 600 !important;
  font-family: $sans-serif-font !important;
}

.navbar-item{
  font-weight: 500 !important;
}

.is-sans-serif{
  font-family: $sans-serif-font !important;
}

.breadcrumb-header{
  color: $darkblue;
  font-weight: 500 !important;
  font-size: 1.1em;
}

.pub-type{
  color: $darkblue;
  font-family: $sans-serif-font !important;  
  font-weight: 500 !important;
  margin-right: 0.5em;  
}

.pub-title {
  font-family: $sans-serif-font;
  font-size: 1.05em;
  color: $darkerblue !important;
  a {
    color: $darkerblue !important;
  }
}

.pub-journal {
  font-size: 1.0em;
}

.pub-authors, .pub-journal, .pub-news{
  font-size: 0.91em;
  color: $darkerblue !important;
  a {
    text-decoration: underline;
  }  
}

.news-title strong{
  color: $darkerblue !important;
  text-decoration: underline;
}
.research-card-item{
  font-size: 0.7em;
}