---
layout: default
---

<div class="columns">
	<div class="column is-three-quarters">
		<div class="content">
      <div class="level">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img src="{{ site.baseurl }}/{{ page.img }}" alt="{{ page.name }}">
            </figure>
          </div>
          <div class="media-content">
            <div class="level">
              <p class="title is-4">{{ page.name }}</p>
            </div>
            <div class="level">
              <p class="subtitle is-6"><span class="icon"><i class="fa fa-envelope"></i></span> {{ page.email }}</p>
            </div>
            <div class="level">
              {% if page.github %}
              <a href="{{ page.github }}">
                <button class="button">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>GitHub</span>
                </button>
              </a>
              {% endif %}
              {% if page.linkedin %}
              <a href="{{ page.linkedin }}">
                <button class="button">
                  <span class="icon">
                    <i class="fab fa-linkedin"></i>
                  </span>
                  <span>LinkedIn</span>
                </button>
              </a>
              {% endif %}
              {% if page.homepage %}
              <a href="{{ page.homepage }}">
                <button class="button">
                  <span class="icon">
                    <i class="fa fa-home"></i>
                  </span>
                  <span>Home</span>
                </button>
              </a>
              {% endif %}                             
            </div>
          </div>
        </div>
      </div>     
      <hr> 
      <p class="title is-5">Biography</p>
      <article class="message is-dark">
        <div class="message-body">
         {{ page.biography }}
       </div>
     </article>
   </div>
 </div>
</div>