---
layout: basic
---

<div class="columns is-multiline">
  <div class="column is-full">
    <h1 class="very-bold"><b>{{ page.title }}</b></h1>
  </div>
  <div class="column has-text-centered is-full-mobile is-one-fifth-desktop">   
    <figure class="image is-128x128 is-inline-block is-round">
      <img class="is-rounded" style="height: 100%; object-fit: cover;" src="{{ site.baseurl }}/assets/profile/{{ page.img }}" alt="{{ page.name }}">
      <figcaption>{{ page.title }}</figcaption>
    </figure>
  </div>
  <div class="column">
    {% if page.biography.size > 1 %}
      <p>{{ page.biography }}</p>
      <br>
      <br>
    {% endif %}
    <div class="columns">
      <div class="column is-full-mobile is-one-quarter-desktop">
        <b>📚 Program/Degree</b>
      </div>
      <div class="column">
        {{ page.degree }}, since {{ page.year_start }}
      </div>
    </div>
    <div class="columns">
      <div class="column is-full-mobile is-one-quarter-desktop">
        <b>📝 Research</b>
      </div>
      <div class="column">
        {{ page.project }}
      </div>
    </div>
    {% if page.cosupervisor %}
    <div class="columns">
      <div class="column is-full-mobile is-one-quarter-desktop">
        <b>👥 Co-supervisor(s)</b>
      </div>
      <div class="column">
        {{ page.cosupervisor }}
      </div>
    </div>
    {% endif %}
    <div class="columns">      
      <div class="column is-full-mobile is-one-quarter-desktop">
        <b>📨 Contact</b>
      </div>
      <div class="column">
        {{ page.email }}
      </div>      
    </div>
    <div class="columns">
      <div class="column is-full-desktop">
        {% include team_profile_pubs.html %}
      </div>
    </div>
  </div>
</div>
<hr>
<p class="small is-7"><a href="{{ site.baseurl }}/people/"><span class="icon"><i class="fa fa-arrow-circle-left"></i></span>Back to Group Members</a></p>