<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.base_url }}/assets/img/favicon.ico">
  <link rel="stylesheet" href="/assets/css/dais.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

  <meta name="google-site-verification" content="{{ site.googleverification }}" />

  {% seo %}
  {% include structured_data.html %}

</head>
<body>
  
  {% include navbar.html %}
  
  {% if page.title == "Home" %}
  <header class="hero is-bold is-light">
    <div class="hero-body">
      <div class="container">       
        <h1 class="title is-size-3 has-text-darkblue is-size-4-mobile very-bold">
          <i class="fas fa-cubes"></i> {{ site.labname }}
        </h1>
        <h2 class="subtitle has-text-darkerblue is-size-5 is-size-6-mobile">
          <i>{{ site.tagline }}</i>
        </h2>
      </div>
    </div>
  </header>  
  {% endif %}

  <section class="section">
    <div class="container">
      <div class="columns is-variable">
        <div class="column"> 
          {{ content }}
        </div>
        <div class="column is-one-fifth is-hidden-mobile">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}

  <script type="text/javascript">
    $(document).ready(function() {

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

      });
  });
  </script>
</body>
</html>