---
layout: default
---

<main class="columns">
  <article class="column">

    <section>
      {% include research.html %}
    </section>

    <hr>
    <section>
      {% include industries.html %}
    </section>
    <hr>

    <section>
      <div class="content">
        {{ content }}
      </div>
    </section>

    <hr>
  
    <section>
      <div class="content">
        <h3>Highlights</h3>
      </div>
      {% assign highlights = site.data.highlights | where:"display", "True" | sort: 'date' | reverse %}
      {% for highlight in highlights %}
      <div class="notification is-link">
        <i class="fas fa-bullhorn"></i> <b>{{ highlight.date | date_to_long_string}}</b> <br> {{ highlight.message }} <strong><a href="{{ highlight.url }}">Link</a></strong>
      </div>
      {% endfor %}
      <br>
    </section> 

    <section>
      <div class="content">
        <h3>News</h3>
        {% assign articles = site.news | sort: 'date' | reverse %}
        {% for news in articles limit: 7 %}
        <article class="list-item">
          <small>{{ news.date | date_to_long_string}}</small><br>
          <header>
            <i class="fas fa-arrow-right"></i> 
            {% if news.url %}
              <a href="{{ news.url}}"><b>{{ news.title }}</b></a>
            {% else %}
              <b>{{ news.title }}</b>
            {% endif %}
          </header>
          <p>{{ news.description}}</p>
        </article>
        {% endfor %}
        <br>
        <p class="small is-7"><a href="{{ site.baseurl }}/news/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>See more</a></p>
      </div>
    </section>
      
  </article>
</main>