---
layout: default
---

<main class="columns">
  <article class="column">

    <section>
      {% include research.html %}
    </section>

    <hr>
<!--     <section>
      {% include industries.html %}
    </section>
    <hr> -->

    <section>
      <div class="content">
        {{ content }}
      </div>
    </section>

    <hr>
  
    <section>
      <div class="content">
        <h3>Highlights</h3>
      </div>
      {% assign highlights = site.data.highlights | where:"display", "True" | sort: 'date' | reverse %}
      {% for highlight in highlights %}
      <div class="box has-background-warning">
        <i class="fas fa-bullhorn"></i> 
        <span class="tag is-dark">{{ highlight.date | date_to_long_string}}</span>
        <p class="news-title"><b>{{ highlight.message }}</b></p>
        <strong><a href="{{ highlight.url }}">Link</a></strong>
      </div>
      {% endfor %}
      <br>
    </section> 

    <section>
      <div class="content">
        <h3>News</h3>
        <div class="home-news-container">
          {% assign articles = site.news | sort: 'date' | reverse %}
          {% for news in articles limit: 7 %}
          <article class="box">
            <span class="tag is-info">{{ news.date | date_to_long_string}}</span>
            <header class="news-title">
              {% if news.url %}
                <a class="news-date" href="{{news.url}}"><b>{{ news.title }}</b></a>
              {% else %}
                <b class="news-desc">{{ news.title }}</b>
              {% endif %}
            </header>
            <p>{{ news.description}}</p>
          </article>
          {% endfor %}
        </div>
        <p class="small is-7"><a href="{{ site.baseurl }}/news/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>See more</a></p>
      </div>
    </section>
      
  </article>
</main>