---
layout: basic
title: News
---

{% if page.image %}
  {% if page.image contains 'http' %}
    {% assign image = page.image %}
  {% else %}
    {% capture image %}
      {{ site.baseurl }}/assets/img/{{ page.image }}
    {% endcapture %}
  {% endif %}
{% else %}
  {% assign image = "https://dais.chbe.ubc.ca/assets/profile/bhushan.jpg" %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | jsonify }},
  "description": {{ page.excerpt | strip_newlines | strip_html | strip | jsonify }},
  "articleBody": {{ page.content | strip_newlines | strip_html | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Bhushan Gopaluni",
    "givenName": "Bhushan",
    "familyName": "Gopaluni",
    "email": {{ site.email | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "width": 32,
      "height": 32,
      "url": "{{ site.url }}/assets/img/favicon.ico"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image":["{{ image | strip_newlines | strip }}"]
}
</script>


<div class="content">
	<article>
		<header>
			<small>Posted: <time itemprop="datePublished" datetime={{page.date}}>{{page.date | date_to_long_string}}</time></small>
			<h1>{{page.title}}</h1>
		</header>
		<p>
			{{ page.content }}
		</p>
	</article>
	<hr>
	<p class="small is-7"><a href="{{ site.baseurl }}/news/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>DAIS Lab News</a></p>
</div>