---
layout: basic
title: News
---

{% if page.image %}
  {% if page.image contains 'http' %}
    {% assign image = page.image %}
  {% else %}
    {% capture image %}
      {{ site.baseurl }}/assets/img/{{ page.image }}
    {% endcapture %}
  {% endif %}
{% else %}
  {% assign image = "https://dais.chbe.ubc.ca/assets/profile/bhushan.jpg" %}
{% endif %}

<div class="content">
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<header class="has-text-centered">
			<h1 class="news-headline" itemprop="name headline">{{page.title}}</h1>
      <p class="news-headline-date"><time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date_to_long_string}}</time></p>
		</header>
		<div class itemprop="articleBody">
			{{ page.content }}
		</div>
	</article>
	<hr>
	<p class="small is-7"><a href="{{ site.baseurl }}/news/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>DAIS Lab News</a></p>
</div>