---
layout: basic
title: Publications
---

{% assign dais_members = site.profiles %}
{% assign pub_authors = page.authors | split: ", " %}
{% assign pub = page %}

<div class="modal" id="img-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="is-size-7">{{page.title}}</p>
    </header>
    <section class="modal-card-body">
      <p><img alt="{{ pub.title }} by {{ pub.authors}}" title="{{ pub.title }} by {{ pub.authors}}" itemprop="image" src="{{ site.baseurl }}/assets/thumbnails/{{ page.thumbnail }}"></p>
    </section>
    <footer class="modal-card-foot">
      <p class="is-size-7">{{ page.thumbnail_caption }}</p>
    </footer>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<article itemscope itemtype="http://schema.org/ScholarlyArticle">
<div class="columns is-multiline">
  <div class="column">
      <header>
        <span class="is-sans-serif has-text-darkblue">{{page.type | upcase }} <b>({{page.year}})</b></span>
        <h1 class="title is-spaced" itemprop="name headline">{{page.title}}</h1>
        <h2 class="subtitle is-5 has-text-darkblue">
          {% if page.external_url %}
            <a href="{{ page.external_url }}" target="_blank"><span>{{page.journal}}</span>, <time itemprop="datePublished">{{page.year}}</time></a>
          {% else %}
            <span>{{page.journal}}</span>, <time itemprop="date">{{page.year}}</time>
          {% endif %}
        </h2>
        <p class="is-5">
          {% for author in pub_authors %}
            {% assign found = site.profiles | where:"pub_name", author | first %}
            {% if found %}
              <a href="{{ found.url }}"><span itemprop="author">{{ author }}</span></a>{% unless forloop.last %},{% endunless %}
            {% else %}
              {% assign found = site.profiles | where:"title", author | first %}
              {% if found %}
                <a href="{{ found.url }}"><span itemprop="author">{{ author }}</span></a>{% unless forloop.last %},{% endunless %}
              {% else %}
                <span itemprop="author">{{ author }}</span>{% unless forloop.last %},{% endunless %}
              {% endif %}
            {% endif %}
          {% endfor %}         
        </p>       
      </header>
      <h5>
        {% include pub_links.html pub=pub %}
      </h5>      
  </div>
  <div class="column has-text-centered is-full-mobile is-one-third-desktop">
    <p>
      {% if page.thumbnail %}
        <figure class="image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
          <a class = "modal-click" data-target = "#img-modal">
            <img alt="{{ pub.title }} by {{ pub.authors}}" title="{{ pub.title }} by {{ pub.authors}}" itemprop="image" src="{{ site.baseurl }}/assets/thumbnails/{{ page.thumbnail }}">
          </a>
          <figcaption itemprop="caption description">
            {{ pub.title }} by {{ pub.authors}}
          </figcaption>
        </figure>
        <p class="is-size-7">Click to enlarge image.</p> 
      {% else %}
        <figure class="image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
          <img itemprop="image" src="{{ site.baseurl }}/assets/thumbnails/neural.png">
        </figure>
      {% endif %}
    </p>    
  </div>

  <div class="column is-full-mobile is-full-desktop">  
      {% if page.description %}
        <p><b>Abstract</b></p>
        <blockquote>
          <p itemprop="abstract">{{ page.description }}</p>
        </blockquote>
      {% endif %}

      {% if pub.pdf %}
        <p><b>Read or Download: <a target="_blank" href="{{ site.baseurl }}/assets/preprints/{{ pub.pdf }}">PDF</a></b></p>
        <div class="is-hidden-mobile"><object data="{{ site.baseurl }}/assets/preprints/{{ pub.pdf }}" width="100%" height="1000" type="application/pdf"></object></div>
      {% endif %}       
  </div>
</div>
</article>

<hr>

<p class="small is-7"><a href="{{ site.baseurl }}/publications/"><span class="icon"><i class="fa fa-arrow-circle-right"></i></span>DAIS Lab Publications</a></p>

<p>
  <span>Read More: </span>
</p>
<p>
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
</p>
<p>
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</p>

<script>
   $(".modal-click").click(function() {
      var target = $(this).data("target");
      $("html").addClass("is-clipped");
      $(target).addClass("is-active");
   });
   
   $(".modal-close").click(function() {
      $("html").removeClass("is-clipped");
      $(this).parent().removeClass("is-active");
   });
</script>